<div class="container">
    <div class="row card page-header">
        <div class="card-content">
          <span class="card-title">About Page</span>
          <p>
            Not much to tell here!
          </p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card flex">
                <div class="card-content">
                    <span class="card-title">About Us</span>
                    <p>Well, there is no us.  I'm very sorry to disappoint anyone looking for more.</p>
                </div>
                <div class="card-action">
                    <a href="#" onclick="alert('Cannot file a complaint.  Sorry about that too!');">File a Complaint</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                <img src="images/SideShotBigGoat.jpg">
                <span class="card-title">About Me</span>
                </div>
                <div class="card-content">
                <p>
                    My name is Shane Stetler and I do exist.  I'm a Principal Software Engineer that has experience on the Microsoft Stack.  Mainly with .NET and C# and also mostly on the back-end building out APIs and what not.  Anyway, that's my mug above.
                    By the way, my image above is bigger than needed.  Please do forgive me.
                </p>
                </div>
                <div class="card-action">
                <a href="#" onclick="alert('That does nothing and goes nowhere.  Much like some people I know...just kidding.');">This is a link</a>
                </div>
            </div>
        </div>
    </div>
</div>